<html>
  <head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  </head>
  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">¡Todas las solicitudes de extracción de su repo!</a>
        </div>
      </div>
    </div>

    <div class="container">
      <% org.repos.forEach( function(repo) { %>
        <div class="starter-template">
          <h1><%= repo.title %></h1>
          <% repo.pullRequests.forEach( function(pullRequest) { %>
            <p class="lead"><a href="<%= pullRequest.url %>"><%= pullRequest.title %></a><p>
          <% }); %>
        </div>
      <% }) %>
    </div>

  </body>
</html>


