<html>
  <head>
    <title>Todos Repos</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>
  </head>
  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">¡Todas las solicitudes de extracción de su repo!</a>
        </div>
      </div>
    </div>

    <div class="container">
      <% org.repos.forEach( function(repo) { %>
        <div>
          <h1><%= repo.title %></h1>
          <% repo.pullRequests.forEach( function(pullRequest) { %>
            <p class="lead"><a href="<%= pullRequest.url %>" target="_blank"><%= pullRequest.title %></a><p>
          <% }); %>
          <% if (repo.pullRequests.length == 0) { %>
            <p class="lead">¡No tirar peticiones aquí! Qué suerte!<p>
          <% } %>
        </div>
      <% }) %>
    </div>

  </body>
</html>


